<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Movie List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder='Search movie...' class="size"></ion-searchbar>

  <ion-list class="size color">
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border footer color">
    <ion-title>Ferran Ulldemolins - <a href="https://github.com/fulldemo13/Okode_movieAPP">GitHub</a></ion-title>
</ion-footer>
